.crew {
  background: url('../../public/assets/crew/background-crew-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  flex-direction: column;
  .sub-header {
    margin-bottom: -8rem;
    .image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin-top: -2rem;
      img {
        height: 223px;
        width: auto;
      }
      .line {
        // margin-bottom: 1rem;
        width: 327px;
        border-top: 1px solid $medium-color;
        opacity: 0.3;
      }
    }
  }
  .crew-content {
    z-index: 0;
    .header-box {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 3rem;
      .content {
        color: $medium-color;
        max-width: 327px;
        line-height: 26px;
        font-size: 15px;
      }
    }
  }
}
