.hero {
  background: url('../../public/assets/home/background-home-desktop.jpg')
    no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  .text-content {
    width: 450px;
    margin-top: 387px;
    margin-left: 165px;
    p {
      color: $medium-color;
    }
  }
}
