.secondary-navbar {
  .nav {
    .nav-item {
      .subheading {
        list-style: none;
        text-decoration: none;
        margin-right: 1rem;
        color: $light-color;
        text-transform: uppercase;
        display: inline-block;
        justify-content: center;
        padding-top: 7px;
        padding-bottom: 7px;
        &:hover {
          box-shadow: inset 0 -2px 0 0 $light-color;
        }
      }
    }
  }
}
